.idev-box {
    max-width: 800px;
    margin: auto;
    font-family: inherit;
}

.idev-item {
    border: 1px solid #e0e0e0;
    margin-bottom: 12px;
    border-radius: 8px;
    overflow: hidden;
}

.idev-item summary {
    list-style: none;
    cursor: pointer;
    padding: 16px 50px 16px 16px;
    font-weight: 600;
    position: relative;
    background: #f9f9f9;
}

.idev-item summary::-webkit-details-marker {
    display: none;
}


.idev-item .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
}

.idev-item .icon::before,
.idev-item .icon::after {
    content: "";
    position: absolute;
    background: #333;
    transition: 0.3s;
}

.idev-item .icon::before {
    width: 16px;
    height: 2px;
    top: 7px;
    left: 0;
}

.idev-item .icon::after {
    width: 2px;
    height: 16px;
    left: 7px;
    top: 0;
}


.idev-item[open] .icon::after {
    opacity: 0;
}

.idev-content {
    padding: 15px;
    background: #fff;
    line-height: 1.8;
    color: #555;
}